.div{
  padding-top: 200px;
  margin-left: 40%;
  
  
  font-size: larger;
}

#deadline{
  margin-bottom: 30px;
}

p{
  background-color: rgb(71, 71, 71);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;
  border-radius: 6px;
  max-width: 200px;
  font-size: 25px;
  font-family: Courier, monospace;
}

input{
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;
  border: 2px solid rgb(138, 137, 137);
  font-size: 15px;
}
